{{>menu}}
  <h2>Bienvenido</h2>
    <p><strong>Name:</strong> {{usuario.first_name}}</p>
     <p><strong>Apellido:</strong> {{usuario.last_name}}</p>
    <p><strong>Email:</strong> {{usuario.email}}</p>
  <ul>
  {{#each products}}
      <li>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>
        <img src="{{this.thumbnail}}" alt="Imagen del producto">
      </li>
 
    {{/each}}
    </ul>